.About{

    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom:20px;
    width: 80%;
    margin: 0 auto;
}

.Services{
    padding-top: 30px;  
}
.signin-btn-home{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 70vh;
    left: 4vw;
}